.logout-button {
    color: white;               
    background-color: red; 
    border-radius: 5px; 
    padding: 0.5rem 1rem;       
    cursor: pointer;            
}

.logout-button:hover {
    background-color: rgba(255, 0, 0, 0.918); /* Light red background on hover */
}
